.addGridExpenses {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2rem;
}

.expenseGrid {
    height: 10rem;
    width: 90%;
    padding: 1rem;
    background-color: var(--cadet-blue);
}

.expenseGrid:nth-child(1){
	height: 30rem;
}
.expenseGrid:nth-child(even){
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
}