.card{
	width: 90%;
	height: 10rem;
	background-color: white;
}

/*.card1{
	grid-column: 1;
}
.card2{
	grid-column:2;
}
.card3{
	gridColumn:3;
}*/

/*.card:nth-child(3n+1){
	grid-column: 1;
}
.card:nth-child(3n+2){
	grid-column: 2;
}
.card:nth-child(3n+3){
	grid-column: 3;
}
*/

.cardtype1{
	display: flex;
	border-bottom: 5px solid blue;
	border-radius: 0.5rem;
	background-image: linear-gradient(to bottom,#a4ebf3, #ccf2f4);
}