* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

:root {
    --navFontSize: clamp(15px, 5vh, 1rem);
    --bordRad: 2rem;
    --mainPageStartHeight: 3rem;
    --navColorBarHeight: 3rem;
    --colorBarWidth: calc(100% - 16.677%);
    --ulStartHeight: calc(var(--navColorBarHeight) + var(--mainPageStartHeight));
}

:root {
    --backgroundColor: #413c69;
    --color1: #bbbfca;
    --color2: #4a47a3;
}

body {
    background-color: var(--backgroundColor);
    display: flex;
}

.sidebar {
    height: 100vh;
    background-color: #413c69;
    flex: 1;
    display: flex;
    justify-content: center;
}

.sidebar ul{
    position: fixed;
}

.mainPage {
    background-color: lightgrey;
    float: right;
    flex: 5;
    height: auto;
    border-top-left-radius: var(--bordRad);
    margin-top: var(--mainPageStartHeight);
    box-shadow: -2px 0px 10px 2px #aaaaaa;
}

.navColorBar {
    width: var(--colorBarWidth);
    position: absolute;
    float: top;
    height: var(--navColorBarHeight);
    background-image: linear-gradient(to right, var(--color2), var(--backgroundColor));
    border-top-left-radius: var(--bordRad);
    display: flex;
}

.navColorBar h1 {
    color: white;
    padding-left: 2rem;
    align-self: center;
}

.navitem {
    color: lightgrey;
    list-style: none;
    padding: 1rem;
    font-size: var(--navFontSize);
    text-transform: uppercase;
}

.navactive:after{
    border-bottom: 1px solid red; 
}

li:hover {
    border-bottom: 1px solid red;
    transform: translateY(-5px);
    transition: 0.2s;
    box-shadow: 0px 0px 10px 0.5px white;
}

ul {
    padding-top: var(--ulStartHeight);
    cursor: pointer;
}

.gridContainer {
    width: 100%;
    position: relative;
    padding-right: 0;
    margin-top: var(--navColorBarHeight);
}

.addPadding {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}