<!DOCTYPE html>
<html lang="en">

<head>
    <title>Budget Maker</title>
</head>
<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/addexpenses/addexp.css">
<link rel="stylesheet" href="../static/css/addexpenses/tablestyle.css">

<body>
    <nav class="sidebar">
        <ul id="navList">
            <li class="navitem">Home</li>
            <li class="navitem">
                Plan Budget
            </li>
            <li class="navitem navactive">Add Expenses</li>
            <li class="navitem">Plan a Trip</li>
            <li class="navitem">Add a project</li>
            <li class="navitem">View Past Details</li>
        </ul>
    </nav>
    <div class="mainPage">
        <div class="navColorBar">
            <h1>Add Expenses</h1>
        </div>
        <div class="FullContainer webkit-center">
            <div class="addPadding">
                <table>
                    <thead class="heading">
                        <tr class="heading-row">
                            <td>S.No</td>
                            <td>Category</td>
                            <td>Sub-Category</td>
                            <td>Date</td>
                            <td>Payment Method</td>
                            <td>Description</td>
                            <td>Amount</td>
                        </tr>
                    </thead>
                    <tbody class="auto-index" id="expensesTable">
                        <tr class="add_expense_row">
                            <td class="serialno"></td>
                            <td>
                                <select name="categories" class="cats" onChange="setSubCategories(this)"></select>
                            </td>
                            <td>
                                <select name="subCategories" class="subcats"></select>
                            </td>
                            <td><input type="date" class="datepicker"></td>
                            <td>
                                <select name="paymentOption">
                                    <option>Cash</option>
                                    <option>Credit Card</option>
                                    <option>Debit Card</option>
                                    <option>Online Payment</option>
                                </select>
                            </td>
                            <td>
                                <textarea name="description" id="" cols="40" rows="8"></textarea>
                            </td>
                            <td>
                                <input type="number" min="0" value="0" name="expenseAmount">
                            </td>
                        </tr>
                        <tr class="add_expense_row">
                            <td class="serialno"></td>
                            <td>
                                <select name="categories" class="cats" onChange="setSubCategories(this)"></select>
                            </td>
                            <td>
                                <select name="subCategories" class="subcats"></select>
                            </td>
                            <td><input type="date" class="datepicker"></td>
                            <td>
                                <select name="paymentOption">
                                    <option>Cash</option>
                                    <option>Credit Card</option>
                                    <option>Debit Card</option>
                                    <option>Online Payment</option>
                                </select>
                            </td>
                            <td>
                                <textarea name="description" id="" cols="40" rows="8"></textarea>
                            </td>
                            <td>
                                <input type="number" min="0" value="0" name="expenseAmount">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div onclick="addNewExpense()">
                    <img src="../static/icons/plus.svg" id="addButton" alt="">
                </div>
                <button id="submit-expenses" onClick="getFormData()">
                    SUBMIT
                </button>
            </div>
        </div>
    </div>
    <template>
        <tr class="add_expense_row">
            <td class="serialno"></td>
            <td>
                <select name="categories" class="cats" onChange="setSubCategories(this)"></select>
            </td>
            <td>
                <select name="subCategories" class="subcats"></select>
            </td>
            <td><input type="date" class="datepicker" name="datePicker"></td>
            <td>
                <select name="paymentOption">
                    <option>Cash</option>
                    <option>Credit Card</option>
                    <option>Debit Card</option>
                    <option>Online Payment</option>
                </select>
            </td>
            <td>
                <textarea name="description" id="" cols="40" rows="8"></textarea>
            </td>
            <td>
                <input type="number" min="0" value="0" name="expenseAmount">
            </td>
        </tr>
    </template>
    <script src="../static/js/navigation.js"></script>
    <script>
        const electron = require("electron");
        const { ipcRenderer } = electron;
    </script>
    <!-- MY FUNCTIONS -->
    <script>
        function addTableSerial(tdId) {
            let allrowid = Array.from(tdId);
            for (let i = 0; i < allrowid.length; i++) {
                allrowid[i].innerText = i + 1;
            }
        }

        function defaultInputDayToday(classSelOfDatePicker) {
            let arrDates = Array.from(classSelOfDatePicker);
            for (let i = 0; i < arrDates.length; i++) {
                arrDates[i].valueAsDate = new Date();
            }
        }

        function setSubCategories(e) {
            // test = e.options[e.selectedIndex].value;
            // test = e.value;
            index = e.parentElement.parentElement.rowIndex;
            thisTitle = e.value;
            let data = JSON.parse(localStorage.getItem("data"));
            // localStorage.removeItem("data");
            console.log(data[thisTitle]);

            // let titles = Object.keys(data);
            let subcats = Array.from(document.getElementsByClassName("subcats"))[index - 1];
            subcats.innerHTML = "";

            for (let i = 0; i < data[thisTitle].length; i++) {
                let option = document.createElement("OPTION");
                option.innerText = data[thisTitle][i];
                option.value = data[thisTitle][i];
                subcats.appendChild(option);
            }

        }

        function clearCategories() {
            let cats = Array.from(document.getElementsByClassName("cats"));
            cats.forEach((item, index) => {
                item.innerHTML = "";
            })
        }

        function addNewExpense() {
            clearCategories(); // This will clear the categories and stop it from multiplying
            let rowtemplate = document.getElementsByTagName("template")[0];
            let tbody = document.getElementsByTagName("tbody")[0];
            let newclone = new cloneTemplate(rowtemplate);
            let arrOfSubCats = new Array();
            let catAndSub = JSON.parse(localStorage.getItem("data"));
            let arrOfCats = Object.keys(catAndSub);

            newclone.cloneit(1, tbody).then(() => {

                for (let keys of Object.keys(catAndSub)) {
                    arrOfSubCats.push(catAndSub[keys])
                }

                for (let i = 0; i < arrOfCats.length; i++) {
                    let parent = Array.from(document.getElementsByClassName("cats"));

                    parent.forEach((Parent, index) => {
                        let createElementOption = document.createElement("OPTION");
                        createElementOption.innerText = arrOfCats[i];
                        // createElementOption.value = arrOfCats[i];
                        Parent.appendChild(createElementOption)
                    });
                }

            })
        }

        function getFormData() {         
            let allExpenseRows = Array.from(document.getElementsByClassName("add_expense_row"));
            let categories = Array.from(document.getElementsByName("categories"));
            let subCategories = Array.from(document.getElementsByName("subCategories"));
            let date = Array.from(document.getElementsByName("datePicker"));
            let payoption = Array.from(document.getElementsByName("paymentOption"));
            let description = Array.from(document.getElementsByName("description"));
            let amount = Array.from(document.getElementsByName("expenseAmount"));

            let formdata = {};

            for (let i = 0; i < allExpenseRows.length; i++) {
            	formdata[`row${i}`] = [
            	categories[i].value, 
            	subCategories[i].value, 
            	date[i], payoption[i].value, 
            	description[i].value,
            	amount[i].value
            	]
            }
            console.log(formdata)
        }
    </script>
    <!-- MY CLASSES -->
    <script>
        class ArrangeCategories {
            constructor(data, jsonKey) {
                this.data = data;
                this.masterData = JSON.parse(data[0][jsonKey]);
            }
            returnTilesAndSubTitles() {
                let ObjToReturn = new Object();
                for (let i = 0; i < this.masterData.length; i++) {
                    ObjToReturn[this.masterData[i]["title"]] =
                        this.masterData[i]["subcategories"]
                }
                return ObjToReturn
            }
        }
        class cloneTemplate {
            constructor(template) {
                this.template = template;
            }
            async cloneit(numclones, insertwhere) {
                for (let i = 0; i < numclones; i++) {
                    let clone = this.template.content.cloneNode(true);
                    insertwhere.appendChild(clone);
                    addTableSerial(giveTheseTdIds); // Serial num for new rows
                    defaultInputDayToday(alldateselectors); // Date selector = today

                }
            }
        }
    </script>
    <script>
        let giveTheseTdIds = document.getElementsByClassName("serialno");
        addTableSerial(giveTheseTdIds);

        let alldateselectors = document.getElementsByClassName("datepicker");
        defaultInputDayToday(alldateselectors);
    </script>
    <script>
        ipcRenderer.on("json:monthlyBudget", (e, data) => {
            localStorage.removeItem("data");
            clearCategories()
            // let rowtemplate = document.getElementsByTagName("template")[0];
            // let tbody = document.getElementsByTagName("tbody")[0];


            let arrangeData = new ArrangeCategories(data, "budget");
            // let cloneObject = new cloneTemplate(rowtemplate);
            // let arrOfSubCats = new Array();
            let catAndSub = arrangeData.returnTilesAndSubTitles();

            localStorage.setItem("data", JSON.stringify(catAndSub))

            // let arrOfCats = Object.keys(catAndSub);

            // cloneObject.cloneit(10, tbody).then(() => {

            //     for (let keys of Object.keys(catAndSub)) {
            //         arrOfSubCats.push(catAndSub[keys])
            //     }

            //     for (let i = 0; i < arrOfCats.length; i++) {
            //         let parent = Array.from(document.getElementsByClassName("cats"));

            //         parent.forEach((Parent, index) => {
            //             let createElementOption = document.createElement("OPTION");
            //             createElementOption.innerText = arrOfCats[i];
            //             // createElementOption.value = arrOfCats[i];
            //             Parent.appendChild(createElementOption)
            //         });
            //     }

            // });
        });
    </script>
</body>

</html>
<!-- <script>
    let a = [
        [

        { "title": "Essentials", "subcategories": ["Food/ Restaurants", "Groceries", "Transport"], "amount": ["61", "0", "0"] }, 

        { "title": "Non Essentials", "subcategories": ["", ""], "amount": ["0", "0"] }, 

        { "title": "Entertainment", "subcategories": ["", ""], "amount": ["0", "0"] }, 

        { "title": "Emergency", "subcategories": ["", ""], "amount": ["0", "0"] }
        ]
    ]
</script> -->