<!DOCTYPE html>
<html lang="en">

<head>
    <title>Budget Maker</title>
</head>
<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/addexpenses/addexp.css">
<link rel="stylesheet" href="../static/css/addexpenses/tablestyle.css">

<body>
    <nav class="sidebar">
        <ul id="navList">
            <li class="navitem">Home</li>
            <li class="navitem">
                Plan Budget
            </li>
            <li class="navitem navactive">Add Expenses</li>
            <li class="navitem">Plan a Trip</li>
            <li class="navitem">Add a project</li>
            <li class="navitem">View Past Details</li>
        </ul>
    </nav>
    <div class="mainPage">
        <div class="navColorBar">
            <h1>Add Expenses</h1>
        </div>
        <div class="FullContainer webkit-center">
            <div class="addPadding">
                <table>
                    <thead class="heading">
                        <tr class="heading-row">
                            <td>S.No</td>
                            <td>Category</td>
                            <td>Sub-Category</td>
                            <td>Date</td>
                            <td>Payment Method</td>
                            <td>Description</td>
                            <td>Amount</td>
                        </tr>
                    </thead>
                    <tbody class="auto-index" id="expensesTable">
                        <tr class="add_expense_row">
                            <td class="serialno"></td>
                            <td>
                                <select name="categories" class="cats"></select>
                            </td>
                            <td>
                                <select name="subCategories"></select>
                            </td>
                            <td><input type="date" class="datepicker"></td>
                            <td>
                                <select>
                                    <option>Cash</option>
                                    <option>Credit Card</option>
                                    <option>Debit Card</option>
                                    <option>Online Payment</option>
                                </select>
                            </td>
                            <td>
                                <textarea name="description" id="" cols="40" rows="8"></textarea>
                            </td>
                            <td>
                                <input type="number" min="0" value="0">
                            </td>
                        </tr>
                        <tr class="add_expense_row">
                            <td class="serialno"></td>
                            <td>
                                <select name="categories" class="cats"></select>
                            </td>
                            <td>
                                <select name="subCategories"></select>
                            </td>
                            <td><input type="date" class="datepicker"></td>
                            <td>
                                <select>
                                    <option>Cash</option>
                                    <option>Credit Card</option>
                                    <option>Debit Card</option>
                                    <option>Online Payment</option>
                                </select>
                            </td>
                            <td>
                                <textarea name="description" id="" cols="40" rows="8"></textarea>
                            </td>
                            <td>
                                <input type="number" min="0" value="0">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Template For adding category and subcategory grids -->
    <!--     <template>
        <div class="expenseGrid"></div>
        <div class="expenseGrid">
            <u><h3 class="mainCat"></h3></u>
            <h4>Total Budgeted Amount: </h4>
        </div>
    </template>
 -->
    <template>
        <tr class="add_expense_row">
            <td class="serialno"></td>
            <td>
                <select name="categories" class="cats"></select>
            </td>
            <td>
                <select name="subCategories"></select>
            </td>
            <td><input type="date" class="datepicker"></td>
            <td>
                <select>
                    <option>Cash</option>
                    <option>Credit Card</option>
                    <option>Debit Card</option>
                    <option>Online Payment</option>
                </select>
            </td>
            <td>
                <textarea name="description" id="" cols="40" rows="8"></textarea>
            </td>
            <td>
                <input type="number" min="0" value="0">
            </td>
        </tr>
    </template>
    <script src="../static/js/navigation.js"></script>
    <script>
        const electron = require("electron");
        const { ipcRenderer } = electron;
    </script>
    <script type="module">
        import{cloneTemplate} from "../static/js/addExpenses/clonetemplate"
    	import{ArrangeCategories} from "../static/js/addExpenses/expenseclasses"
    </script>
    <!--     <script type="text/javascript">
        function getTodayDate() {
            let today = new Date();
            let todaydate = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear();

            document.getElementById("date").value = todaydate;
        }
    </script>
    <script>
        ipcRenderer.on("json:monthlyBudget", (e, data) => {
            const budgetData = new ListOfObjects(data, "budget");
            // console.log(budgetData.ObjectValueForKey("title"))
            let titles = budgetData.ObjectValueForKey("title");

            let mainGrid = Array.from(document.getElementsByClassName("addGridExpenses"));

            let addExpGridTemp = document.getElementsByTagName("template")[0];

            if (mainGrid[0].children.length == 0) {

                for (let i = 0; i < titles.length; i++) {
                    let formclone = addExpGridTemp.content.cloneNode(true);
                    mainGrid[0].appendChild(formclone);
                }

                let allTitleGrids = Array.from(document.getElementsByClassName("mainCat"));
                for (let i = 0; i < titles.length; i++) {
                    allTitleGrids[i].innerText = titles[i];
                }
            }

        })

        class ListOfObjects {
            constructor(data, jsonKeyHoldingData) {
                // this.data = data;
                this.masterData = JSON.parse(data[0][jsonKeyHoldingData]);
            }
            ObjectValueForKey(key) {
                // console.table(this.masterData);
                let arrToReturn = []
                for (let i = 0; i < this.masterData.length; i++) {
                    arrToReturn.push(this.masterData[i][key])
                }
                return arrToReturn

            }
        }
    </script> -->
    <script>
        function addTableSerial(tdId) {
            let allrowid = Array.from(tdId);
            for (let i = 0; i < allrowid.length; i++) {
                allrowid[i].innerText = i + 1;
            }
        }
        let giveTheseTdIds = document.getElementsByClassName("serialno");
        addTableSerial(giveTheseTdIds);

        let alldateselectors = document.getElementsByClassName("datepicker");
        defaultInputDayToday(alldateselectors);

        function defaultInputDayToday(classSelOfDatePicker) {
            let arrDates = Array.from(classSelOfDatePicker);
            for (let i = 0; i < arrDates.length; i++) {
                arrDates[i].valueAsDate = new Date();
            }
        }
    </script>
    <script>
        ipcRenderer.on("json:monthlyBudget", (e, data) => {
            let arrangeData = new ArrangeCategories(data, "budget");
            // console.log(arrangeData.returnTilesAndSubTitles())
            let catAndSub = arrangeData.returnTilesAndSubTitles();
            console.table(catAndSub);

            let rowtemplate = document.getElementsByTagName("template")[0];
            let cloneObject = new cloneTemplate(rowtemplate);

            let tbody = document.getElementsByTagName("tbody")[0];
            cloneObject.cloneit(10, tbody).then(() => {
                addTableSerial(giveTheseTdIds);
                defaultInputDayToday(alldateselectors);

                let arrOfCats = Object.keys(catAndSub);
                let arrOfSubCats = new Array();

                for (let keys of Object.keys(catAndSub)) {
                    arrOfSubCats.push(catAndSub[keys])
                }
                for (let i = 0; i < arrOfCats.length; i++) {
                    let createElementOption = document.createElement("OPTION");
                    createElementOption.innerText = arrOfCats[i]
                    appendToParent("cats", createElementOption)
                }

            });
        });

        function appendToParent(findclass, item) {
            let parent = Array.from(document.getElementsByClassName(`${findclass}`));
            console.log(parent)
            for (let i = 0; i < parent.length; i++) {
                console.log(parent[i])
                parent[i].appendChild(item);
            }

        }
    </script>
    <!-- MY CLASSES -->
    <script>
        class ArrangeCategories {
            constructor(data, jsonKey) {
                this.data = data;
                this.masterData = JSON.parse(data[0][jsonKey]);
            }
            returnTilesAndSubTitles() {
                let ObjToReturn = new Object();
                for (let i = 0; i < this.masterData.length; i++) {
                    ObjToReturn[this.masterData[i]["title"]] =
                        this.masterData[i]["subcategories"]
                }
                return ObjToReturn
            }

        }
        class cloneTemplate {
            constructor(template) {
                this.template = template;
            }
            async cloneit(numclones, insertwhere) {
                for (let i = 0; i <= numclones; i++) {
                    let clone = this.template.content.cloneNode(true);
                    insertwhere.appendChild(clone);
                }

            }

        }
    </script>
</body>

</html>
<!-- <script>
    let a = [
        [

        { "title": "Essentials", "subcategories": ["Food/ Restaurants", "Groceries", "Transport"], "amount": ["61", "0", "0"] }, 

        { "title": "Non Essentials", "subcategories": ["", ""], "amount": ["0", "0"] }, 

        { "title": "Entertainment", "subcategories": ["", ""], "amount": ["0", "0"] }, 

        { "title": "Emergency", "subcategories": ["", ""], "amount": ["0", "0"] }
        ]
    ]
</script> -->