<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Budget Maker</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/home/home.css">
    <link rel="stylesheet" href="../static/css/home/jello.css">
    <script src="../static/js/chart-min.js"></script>
</head>

<body>
    <nav class="sidebar">
        <ul id="navList">
            <li class="navitem navactive">Home</li>
            <li class="navitem">
                Plan Budget
            </li>
            <li class="navitem">Add Expenses</li>
            <li class="navitem">Plan a Trip</li>
            <li class="navitem">Add a project</li>
            <li class="navitem">View Past Details</li>
        </ul>
    </nav>
    <div class="mainPage">
        <div class="navColorBar">
            <h1>Home</h1>
        </div>
        <div class="gridContainer">
            <div class="addPadding addGrid">
                <div class="card cardtype1">
                    <img src="../static/icons/calendar.svg" alt="">
                    <dl>
                        <dt>Budget For</dt>
                        <dd id="getMonth"></dd>
                        <dd id="date"></dd>
                    </dl>
                </div>
                <div class="card cardtype2">
                    <img src="../static/icons/money-bag.svg" alt="">
                    <dl>
                        <dt>Total Budget</dt>
                        <dd>$<span id="total"></span></dd>
                        <dt>Total Remaining</dt>
                        <dd>$<span id="remaining"></span></dd>
                    </dl>
                </div>
                <div class="card cardtype3">
                    <img src="../static/icons/economic.svg" alt="">
                    <dl>
                        <dt>Total Savings</dt>
                        <dd id="totalSavings">$</dd>
                        <dt>Add Income</dt>
                        <dd>
                            <input type="number" min="0" id="addIncome">
                            <button id="addIncomeButton">✓</button>
                        </dd>
                    </dl>
                </div>
                <div class="card cardtype4"></div>
                <div class="card cardtype5"></div>
                <div class="card cardtype6"></div>
                <!--                 <div class="card cardtype7">
                    <div class="categorytitle">H</div>
                    <div class="canvas">
                        <canvas class="myChart"></canvas>
                    </div>
                </div> -->
                <!--<div class="card"></div>
                <div class="card"></div>

                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div> -->
            </div>
        </div>
    </div>
    <template>
        <div class="card cardtype7">
            <div class="categorytitle">
                <span class="cattext">H</span>
            </div>
            <div class="canvas">
                <canvas class="myTempChart"></canvas>
            </div>
        </div>
    </template>
    <!-- Navigation -->
    <script type="text/javascript" src="../static/js/navigation.js"></script>
    <script type="text/javascript">
        const electron = require("electron");
        const { ipcRenderer } = electron;
    </script>
    <script>
        let totalSavings = document.getElementById("totalSavings");
        let incomeButton = document.getElementById("addIncomeButton");
    </script>
    <script type="text/javascript">
        ipcRenderer.on("item:whichMonth", (e, data) => {
            document.getElementById("getMonth").innerText = data.month;
            document.getElementById("date")
                .innerText = data.latestMonth;
        });

        incomeButton.onclick = () => {
            let income = document.getElementById("addIncome");
            console.log(income.value)
            ipcRenderer.send("form:income", income.value);
            income.value = "";
        }

        ipcRenderer.on("item:income:update", (e, data) => {
            totalSavings.innerText = data
        })

        ipcRenderer.on("item:budgetData", (e, data) => {
            console.log(data.savings)
            document.getElementById("total").innerText = data.total;
            document.getElementById("remaining").innerText = data.remaining;
            totalSavings.innerText = data.savings;
        })
    </script>
    <script>
        class makeChart {
            constructor(canvas, position = "left") {
                this.canvas = canvas;
                this.position = position;
            }

            doughnut(xVal, yVal, clrs) {
                new Chart(this.canvas, {
                    type: "doughnut",
                    data: {
                        labels: xVal,
                        datasets: [{
                            backgroundColor: clrs,
                            data: yVal
                        }]
                    },
                    options: {
                        plugins: {
                            legend: {
                                position: `${this.position}`,
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false
                    }
                })
            }
        }
        class cloneTemplate {
            constructor(template) {
                this.template = template;
            }
            async cloneit(numclones, insertwhere) {
                // let oldgraphs = Array.from(document.getElementsByClassName("myTempChart"));
                const removeElements = (elms) => elms.forEach(el => el.remove());
                // Use like:
                removeElements(document.querySelectorAll(".cardtype7"));

                for (let i = 0; i < numclones; i++) {
                    let clone = this.template.content.cloneNode(true);
                    insertwhere.appendChild(clone);
                }
            }
        }
        var barColors = [
            "#b91d47",
            "#00aba9",
            "#2b5797",
            "#e8c3b9",
            "#1e7145"
        ];
        ipcRenderer.on("item:graphData", (e, data) => {
            console.log(data.subcatalldetails)
            let datalength = Object.keys(data.catwithamt).length;
            let addGridParent = Array.from(document.getElementsByClassName("addGrid"))[0];
            let template = document.getElementsByTagName("template")[0];
            let clonetemp = new cloneTemplate(template);

            clonetemp.cloneit(datalength, addGridParent).then(() => {

                let categoryTitle = Array.from(document.getElementsByClassName("cattext"));
                let canvases = Array.from(document.getElementsByClassName("myTempChart"));

                for (let i = 0; i < categoryTitle.length; i++) {

                    let xvals = data.catwithsub[Object.keys(data.catwithamt)[i]];
                    let yvals = [];
                    let totalForCurrentChart = 0;
                    let remForCurrentChart = 0;
                    let usedForCurrentChart = 0;

                    let newchart = new makeChart(canvases[i], "left");
                    new_barColors = barColors.slice(0, xvals.length);
                    new_barColors.push("#000000");

                    xvals.forEach(function(element, index) {
                        yvals.push(data.subcatwithamt[element]);
                        totalForCurrentChart += data.subcatalldetails[data.subcatalldetails.findIndex(el => el.subcategory == element)].total;

                        remForCurrentChart += data.subcatalldetails[data.subcatalldetails.findIndex(el => el.subcategory == element)].remaining;
                    });
                    usedForCurrentChart = totalForCurrentChart - remForCurrentChart;
                    xvals.push("Used");
                    yvals.push(usedForCurrentChart);
                    categoryTitle[i].innerText = Object.keys(data.catwithamt)[i];
                    newchart.doughnut(xvals, yvals, new_barColors)
                }

            })
        })

        // var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
        // var yValues = [55, 49, 44, 24, 15];
        // var barColors = [
        //     "#b91d47",
        //     "#00aba9",
        //     "#2b5797",
        //     "#e8c3b9",
        //     "#1e7145"
        // ];

        // let cnvs = Array.from(document.getElementsByClassName("myChart"))[0];
        // let chart = new makeChart(cnvs, "left")
        // chart.doughnut(xValues, yValues, barColors);

        // new Chart(chart, {
        //     type: "doughnut",
        //     data: {
        //         labels: xValues,
        //         datasets: [{
        //             backgroundColor: barColors,
        //             data: yValues
        //         }]
        //     },
        //     options: {
        //         plugins: {
        //             legend: {
        //                 position: 'left',
        //             }
        //         },

        //         responsive: true,
        //         maintainAspectRatio: false
        //     }
        // });
    </script>
</body>

</html>