<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Budget Maker</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/home/home.css">
    <link rel="stylesheet" href="../static/css/home/jello.css">
</head>

<body>
    <nav class="sidebar">
        <ul id="navList">
            <li class="navitem navactive">Home</li>
            <li class="navitem">
                Plan Budget
            </li>
            <li class="navitem">Add Expenses</li>
            <li class="navitem">Plan a Trip</li>
            <li class="navitem">Add a project</li>
            <li class="navitem">View Past Details</li>
        </ul>
    </nav>
    <div class="mainPage">
        <div class="navColorBar">
            <h1>Home</h1>
        </div>
        <div class="gridContainer">
            <div class="addPadding addGrid">
                <div class="card cardtype1">
                    <img src="../static/icons/calendar.svg" alt="">
                    <dl>
                        <dt>Budget For</dt>
                        <dd id="getMonth"></dd>
                        <dd id="date"></dd>
                    </dl>
                </div>
                <div class="card cardtype2">
                    <img src="../static/icons/money-bag.svg" alt="">
                    <dl>
                        <dt>Total Budget</dt>
                        <dd>$<span id="total"></span></dd>
                        <dt>Total Remaining</dt>
                        <dd>$<span id="remaining"></span></dd>
                    </dl>
                </div>
                <div class="card cardtype3">
                    <img src="../static/icons/economic.svg" alt="">
                    <dl>
                        <dt>Total Savings</dt>
                        <dd id="totalSavings">$</dd>
                        <dt>Add Income</dt>
                        <dd>
                            <input type="number" min="0" id="addIncome">
                            <button id="addIncomeButton">✓</button>
                        </dd>
                    </dl>
                </div>
                <div class="card cardtype4"></div>
                <div class="card cardtype5"></div>
                <div class="card cardtype6"></div>
                <div class="card"></div>
                <!--                 <div class="card"></div>
                <div class="card"></div>

                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div> -->
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <script type="text/javascript" src="../static/js/navigation.js"></script>
    <script type="text/javascript">
    const electron = require("electron");
    const { ipcRenderer } = electron;
    </script>
    <script>
        let totalSavings = document.getElementById("totalSavings");
        let incomeButton = document.getElementById("addIncomeButton");
    </script>
    <script type="text/javascript">
    ipcRenderer.on("item:whichMonth", (e, data) => {
        document.getElementById("getMonth").innerText = data.month;
        document.getElementById("date")
            .innerText = data.latestMonth;
    });

    incomeButton.onclick = ()=>{
        let income = document.getElementById("addIncome");
        console.log(income.value)
        ipcRenderer.send("form:income", income.value);
        income.value= "";
    }

    ipcRenderer.on("item:income:update", (e, data)=>{
        totalSavings.innerText = data
    })

    ipcRenderer.on("item:budgetData", (e,data)=>{
        console.log(data.savings)
        document.getElementById("total").innerText = data.total;
        document.getElementById("remaining").innerText = data.remaining;
        totalSavings.innerText = data.savings;
    })

    </script>
</body>

</html>