<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Budget Maker</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/home/home.css">
</head>

<body>
    <nav class="sidebar">
        <ul>
            <li class="navitem navactive">Home</li>
            <li class="navitem">Add Budget</li>
            <li class="navitem">Plan a Trip</li>
            <li class="navitem">Add a project</li>
            <li class="navitem">View Past Details</li>
        </ul>
    </nav>
    <div class="mainPage">
        <div class="navColorBar">
            <h1>Home</h1>
        </div>
        <div class="gridContainer">
            <div class="addPadding">
                <div class="card cardtype1"></div>
                <div class="card"></div>
                <div class="card"></div>

                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>

                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>

                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </div>
    </div>
</body>

</html>