table {
    width: 90%;
    max-width: 70rem;
    /*background-color: blue;*/
    border-collapse: collapse;
}
@media screen and (max-width: 1300px){
	table{
		max-width: 70rem;
	}
}

.heading {
    color: white;
    background-color: var(--color2);
}

.heading-row {
    height: 2rem;
}


th, td {
  text-align: left;
  padding: 8px;
}

thead tr:first-child td:first-child{
	border-top-left-radius: 1rem;
}

thead tr:first-child td:last-child{
	border-top-right-radius: 1rem;
}

.add_expense_row:nth-child(even) {
	background-color: var(--grey1);
}

.add_expense_row:nth-child(odd) {
	background-color: var(--grey2);
}

.add_expense_row{
	height: 5rem;
}

#downloadcsv{
  padding: 1rem;
}
#downloadcsv:hover{
  cursor: pointer;
}

.note{
  margin-left: 5.5rem;
  text-align: left;
  font-size: 12px;
  margin-top: 5rem;
}

